apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: kube-booster-mutating-webhook
webhooks:
- name: pod-mutator.kube-booster.io
  admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: kube-booster-webhook-service
      namespace: kube-system
      path: /mutate-v1-pod
    caBundle: ${CA_BUNDLE}
  failurePolicy: Ignore
  matchPolicy: Equivalent
  namespaceSelector: {}
  objectSelector: {}
  reinvocationPolicy: Never
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - pods
    scope: "*"
  sideEffects: None
  timeoutSeconds: 10
